.text-type {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  font-weight: bold;
  font-size: 30pt;
  width: 100%;
  padding: 2rem 0;
  position: relative;
  z-index: 10;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
